body {
    padding-top: 90px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

span.field-validation-error {
    color: #FF0038;
    font-weight: bold;
}

.voffset {
    margin-top: 2px
}

.voffset1 {
    margin-top: 5px
}

.voffset2 {
    margin-top: 10px
}

.voffset3 {
    margin-top: 20px
}

.voffset4 {
    margin-top: 40px
}

.voffset5 {
    margin-top: 80px
}

/* Bootstrap Overrides */

.navbar-inverse {
    background-color: #FF0038;
    border-color: #FF0038;
}

    .navbar-inverse .navbar-nav > li > a {
        color: #fff;
    }
        .navbar-inverse .navbar-nav > li > a:hover, .navbar-inverse .navbar-nav > li > a:focus {
            border-bottom: 3px solid #fff;
        }
            .navbar-inverse .navbar-brand {
                color: #fff;
            }

    .navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:hover, .navbar-inverse .navbar-nav > .open > a:focus {
        background-color: #e60032;
    }

.dropdown-menu {
    box-shadow: none;
    -webkit-box-shadow: none;
}

.navbar-brand {
    font-weight: 700;
}

body {
    font-size: 17px;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
    font-family: Lato, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 500;
    line-height: 1.1;
    color: inherit;
}

.form-group {
    margin-bottom: 20px;
}

.form-control {
    font-size: 17px;
    padding: 20px, 15px;
    /*-ms-border-radius: 9px;*/
    border-radius: 9px;
}

    .form-control:focus {
        border-color: #2196f3;
        box-shadow: none;
        -webkit-box-shadow: none;
    }

.btn {
    /*-ms-border-radius: 9px;*/
    border-radius: 9px;
}

/* Page-level Styles */

.hoots {
    list-style: none;
}

.hoots > li {
    position: relative;
    margin-bottom: 30px;
}

    .hoots > li .date {
        background: #FFCE38;
        color: white;
        text-align: center;
        width: 50px;
        /*-ms-border-radius: 9px;*/
        border-radius: 8px;
    }

        .hoots > li .date .month {
            text-transform: uppercase;
            font-size: 14px;
            font-weight: bold;
            padding: 2px 6px;
        }

        .hoots > li .date .day {
            background: #f7f7f7;
            color: #020509;
            font-size: 20px;
            padding: 6px 12px;
        }

    .hoots > li .details {
        position: absolute;
        top: 0;
        left: 70px;
    }

        .hoots > li .details .artist {
            font-weight: bold;
            display: block;
        }

        .hoots > li .details .genre {
            font-size: 15px;
        }