@model IEnumerable<HootPin.Models.ApplicationUser>

@{
    ViewBag.Title = "Index";
}

<h2>Followees</h2>

<ul class="followees voffset4">
    @foreach (var followee in Model)
    {
        <li>
            <span class="artist">
                @followee.Name
                <button class="btn btn-info js-unfollow" data-user-id="@followee.Id">Unfollow</button>
            </span>
        </li>
    }
</ul>

@section scripts  {
    <script>
        $(document).ready(function () {
            FolloweesController.init();
        });
    </script>
}



